---
title: "Achats"
lang: "fr"
layout: "default"
order: 2
ref: "achats"
---

{% assign sorted_categories = site.categories | sort:"order" | where:"ref", "achats" %}

<h1>Achats</h1>

<p>Liste des articles de la section ventes :</p>

<ul>
  {% for category in sorted_categories %}

    {% assign sorted_docs = site.docs | sort:"date" | where:"category_ref", category.ref %}

    {% for doc in sorted_docs %}

      <li class="doc">
        <a href={{doc.url}}>{{ doc.short_title }}</a>
      </li>

    {% endfor %}

  {% endfor %}
</ul>
